@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #121212;
  --foreground: #ffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: 'Outfit', sans-serif; */
  font-family: var(--font-outfit), sans-serif;
}

/* Hilangkan semua shadow di viewer */
.rpv-core__page-layer,
.rpv-core__inner-page,
.rpv-core__canvas-layer {
  box-shadow: none !important;
  filter: none !important;
  background: none !important;
}

/* Hilangkan background putih default dan padding */
.rpv-core__page-layer,
.rpv-core__inner-page {
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Jika canvas PDF tetap punya bayangan */
.rpv-core__canvas-layer canvas {
  box-shadow: none !important;
  filter: none !important;
}
